@model IEnumerable<ProjectOrganizer.Models.Project>

@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <div>
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div>
        <button onclick=""></button>
    </div>
</div>
